@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400;500&family=Playfair+Display:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    
}

/* Footer styles */
body {
    background-color: #a5e7d9;
    font-family: 'Roboto', sans-serif;
    color: #000000;     
}


header {
    background: #27ae60;
    text-align: center;
    padding: 1.5em;
    
    
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}
img {
    margin: 0%;
    max-width: 100%;
    max-height: 100%;
}

footer {
    background: #27ae60;
    text-align: center;
    padding: 1.5em;
    margin-top: 2em;

}

footer p {
    margin: 0.5em 0;
}

a {
    color: #FCFCFC;
    margin: 0 0.5em;
}


a:hover {
    color: #FCFCFC;
    text-decoration: underline;
    font-weight: bold;
}