@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #27ae60;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

header {
    background: whitesmoke;
    text-align: center;
    padding: 0.5em;
}
header h1 {
    padding-bottom: 0.1em;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.6em;
    
}

#hero_image {
    margin-bottom: 1em;
    box-shadow: 0 0.5em 1em #1a4722;
    width: 100%;
    border-radius: 0 0 3% 3%;
}

article {
    padding: 1em;
    background: whitesmoke;
    box-shadow: 0.5rem 0.5rem 1rem #1a4722;
    border-radius: 1em;
}

article h2 {
    margin-bottom: 0.5em;
}

.grid-container-1 {
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-areas: "SP SW CH";
}

#Spain {
    grid-area: SP;
}

#Sweden {
    grid-area: SW;
}

#China {
    grid-area: CH;
}

.grid-container-1 article h3, 
.grid-container-2 article h3, 
.grid-container-3 article h3 {
    margin-bottom: 0.5em;
    color: #000;
}

.grid-container-1 article p, 
.grid-container-2 article p, 
.grid-container-3 article p {
    margin-bottom: 0.5em;
    color: #000;
}

.grid-container-2, .grid-container-3 {
    display: grid;
    gap: 1.5em;
    padding: 1em;
}

.grid-container-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-container-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-2 .bilder, 
.grid-container-3 .bilder {
    width: 100%;
    border-radius: 1em;
}

#omoss {
    text-align: center;
}

#vartteam {
    margin: 1em auto;
    padding: 1em;
    max-width: 50%;
    background: whitesmoke;
    box-shadow: 0.5rem 0.5rem 1rem #1a4722;
    border-radius: 1em;
}

footer {
    margin-top: 1em;
    background: whitesmoke;
    text-align: center;
    padding: 1.5em;
    border-radius: 1em 1em 0 0;
}

footer p {
    margin: 0.5em;
}
footer a {
    margin: 0.2em;
}
a {
    background: #27ae60;
    color: black;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

